[project]
name = "dsolver"
version = "0.1.1"
description = "HALDA Solver - Distributed LLM Inference Optimization Library"
requires-python = ">=3.12"
dependencies = [
  "matplotlib>=3.10.6",
  "numpy>=2.3.2",
  "scipy>=1.16.1",
]

[build-system]
requires = ["uv_build>=0.8.17,<0.9.0"]
build-backend = "uv_build"
