[project]
name = "dsolver"
version = "0.1.0"
description = "HALDA Solver - Distributed LLM Inference Optimization Library"
requires-python = ">=3.12"
dependencies = [
  "gurobipy>=12.0.3",
  "matplotlib>=3.10.6",
  "numpy>=2.3.2",
  "scipy>=1.16.1",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[tool.hatch.build.targets.wheel]
packages = ["."]